P {
	font-family: Garamond, serif;
}

h2 {
	font-size: 110%;
	color: red;
	background: white;
}

.note {
	color: red;
	background: yellow;
	font-weight: bold;
	font-family: Times;
}

P#paragraph1 {
	margin: 0;
	font-family: New Times;
}

A:hover {
	text-decoration: none;
}

#news P {
	color: blue;
}

P A {
	font-weight: normal;
}

P A:sdfasdf {
	background-color: red;
}
